{{#if playlist.tracks.length}}

<div class="columns is-multiline">
  {{#each playlist.tracks}}
    <div class="column is-half">
      <div class="card">

        <div class="card-image">
          {{#if image}}
            <figure class="image is-4by3">
              <img src="{{image}}" alt="{{name}}">
            </figure>
          {{else}}
            <figure class="image is-4by3 has-background-light is-flex is-align-items-center is-justify-content-center">
              <span>No image</span>
            </figure>
          {{/if}}
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-5">{{name}}</p>
              <p class="subtitle is-6">{{locationName}}</p>
            </div>
          </div>

          <div class="content">
            {{#if description}}
              <p>{{description}}</p>
            {{else}}
              <p>No description available.</p>
            {{/if}}

            <p>
              <strong>Latitude:</strong> {{latitude}}<br>
              <strong>Longitude:</strong> {{longitude}}
            </p>
          </div>
        </div>

        <footer class="card-footer">
          <a href="/placemark/{{../playlist._id}}/edit/{{_id}}" class="card-footer-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
              <span>Edit</span>
            </span>
          </a>

          <a href="/category/{{../playlist._id}}/deleteplacemark/{{_id}}" class="card-footer-item">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-trash"></i>
              </span>
              <span>Delete</span>
            </span>
          </a>
        </footer>

      </div>
    </div>
  {{/each}}
</div>

{{else}}

<div class="notification is-light has-text-centered">
  No placemarks added yet. Use the form on the right to add one.
</div>

{{/if}}